In [6]:
paragraph= """I have three visions for India.
In 3000 years of our history, people from all over the world have come and invaded us, captured our lands, conquered our minds. From Alexander onwards. The Greeks, the Turks, the Mughals, the Portuguese, the British, the French, the Dutch, all of them came and looted us, took over what was ours. Yet we have not done this to any other nation.
We have not conquered anyone.
We have not grabbed their land, their culture,
their history and tried to enforce our way of life on them.
Why?
Because we respect the freedom of others.

That is why my first vision is freedom.
I believe that India got its first vision of this in 1857, when we started the War of Independence.
It is this freedom that we must protect and nurture and build on.
If we are not free, no one will respect us."""

In [7]:
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords

In [4]:
 import nltk
 nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [8]:
nltk.download('punkt')
sentences= nltk.sent_tokenize(paragraph)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [9]:
sentences

['I have three visions for India.',
 'In 3000 years of our history, people from all over the world have come and invaded us, captured our lands, conquered our minds.',
 'From Alexander onwards.',
 'The Greeks, the Turks, the Mughals, the Portuguese, the British, the French, the Dutch, all of them came and looted us, took over what was ours.',
 'Yet we have not done this to any other nation.',
 'We have not conquered anyone.',
 'We have not grabbed their land, their culture,\ntheir history and tried to enforce our way of life on them.',
 'Why?',
 'Because we respect the freedom of others.',
 'That is why my first vision is freedom.',
 'I believe that India got its first vision of this in 1857, when we started the War of Independence.',
 'It is this freedom that we must protect and nurture and build on.',
 'If we are not free, no one will respect us.']

In [ ]:
# now removing the unwanted characters

In [10]:
import re

In [11]:
corpus=[]
for i in range(len(sentences)):
  review= re.sub('[^a-zA-Z]',' ',sentences[i])
  review= review.lower()
  corpus.append(review)

In [12]:
corpus

['i have three visions for india ',
 'in      years of our history  people from all over the world have come and invaded us  captured our lands  conquered our minds ',
 'from alexander onwards ',
 'the greeks  the turks  the mughals  the portuguese  the british  the french  the dutch  all of them came and looted us  took over what was ours ',
 'yet we have not done this to any other nation ',
 'we have not conquered anyone ',
 'we have not grabbed their land  their culture  their history and tried to enforce our way of life on them ',
 'why ',
 'because we respect the freedom of others ',
 'that is why my first vision is freedom ',
 'i believe that india got its first vision of this in       when we started the war of independence ',
 'it is this freedom that we must protect and nurture and build on ',
 'if we are not free  no one will respect us ']

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer()
X= cv.fit_transform(corpus).toarray()

In [14]:
cv.vocabulary_

{'have': 27,
 'three': 68,
 'visions': 75,
 'for': 19,
 'india': 32,
 'in': 30,
 'years': 85,
 'of': 49,
 'our': 55,
 'history': 28,
 'people': 58,
 'from': 23,
 'all': 1,
 'over': 57,
 'the': 64,
 'world': 84,
 'come': 12,
 'and': 2,
 'invaded': 33,
 'us': 73,
 'captured': 11,
 'lands': 38,
 'conquered': 13,
 'minds': 41,
 'alexander': 0,
 'onwards': 52,
 'greeks': 26,
 'turks': 72,
 'mughals': 42,
 'portuguese': 59,
 'british': 8,
 'french': 22,
 'dutch': 16,
 'them': 66,
 'came': 10,
 'looted': 40,
 'took': 70,
 'what': 80,
 'was': 77,
 'ours': 56,
 'yet': 86,
 'we': 79,
 'not': 47,
 'done': 15,
 'this': 67,
 'to': 69,
 'any': 3,
 'other': 53,
 'nation': 45,
 'anyone': 4,
 'grabbed': 25,
 'their': 65,
 'land': 37,
 'culture': 14,
 'tried': 71,
 'enforce': 17,
 'way': 78,
 'life': 39,
 'on': 50,
 'why': 82,
 'because': 6,
 'respect': 61,
 'freedom': 21,
 'others': 54,
 'that': 63,
 'is': 34,
 'my': 44,
 'first': 18,
 'vision': 74,
 'believe': 7,
 'got': 24,
 'its': 36,
 'when': 81,
 'started': 62,
 'war': 76,
 'independence': 31,
 'it': 35,
 'must': 43,
 'protect': 60,
 'nurture': 48,
 'build': 9,
 'if': 29,
 'are': 5,
 'free': 20,
 'no': 46,
 'one': 51,
 'will': 83}

In [ ]:
corpus[0]

'i have three visions for india '

In [ ]:
X[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [16]:
corpus=[]
for i in range(len(sentences)):
  review= re.sub('[^a-zA-Z]',' ',sentences[i])
  review= review.lower()
  corpus.append(review)

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(binary= True, ngram_range=(2,3))
X= cv.fit_transform(corpus).toarray()

In [19]:
cv.vocabulary_

{'have three': 71,
 'three visions': 198,
 'visions for': 218,
 'for india': 46,
 'have three visions': 72,
 'three visions for': 199,
 'visions for india': 219,
 'in years': 81,
 'years of': 245,
 'of our': 126,
 'our history': 136,
 'history people': 75,
 'people from': 147,
 'from all': 57,
 'all over': 3,
 'over the': 143,
 'the world': 182,
 'world have': 243,
 'have come': 65,
 'come and': 30,
 'and invaded': 7,
 'invaded us': 85,
 'us captured': 210,
 'captured our': 28,
 'our lands': 138,
 'lands conquered': 98,
 'conquered our': 33,
 'our minds': 140,
 'in years of': 82,
 'years of our': 246,
 'of our history': 127,
 'our history people': 137,
 'history people from': 76,
 'people from all': 148,
 'from all over': 58,
 'all over the': 4,
 'over the world': 144,
 'the world have': 183,
 'world have come': 244,
 'have come and': 66,
 'come and invaded': 31,
 'and invaded us': 8,
 'invaded us captured': 86,
 'us captured our': 211,
 'captured our lands': 29,
 'our lands conquered': 139,
 'lands conquered our': 99,
 'conquered our minds': 34,
 'from alexander': 55,
 'alexander onwards': 0,
 'from alexander onwards': 56,
 'the greeks': 172,
 'greeks the': 63,
 'the turks': 178,
 'turks the': 208,
 'the mughals': 174,
 'mughals the': 104,
 'the portuguese': 176,
 'portuguese the': 149,
 'the british': 164,
 'british the': 23,
 'the french': 170,
 'french the': 53,
 'the dutch': 166,
 'dutch all': 39,
 'all of': 1,
 'of them': 128,
 'them came': 190,
 'came and': 26,
 'and looted': 9,
 'looted us': 102,
 'us took': 212,
 'took over': 204,
 'over what': 145,
 'what was': 235,
 'was ours': 222,
 'the greeks the': 173,
 'greeks the turks': 64,
 'the turks the': 179,
 'turks the mughals': 209,
 'the mughals the': 175,
 'mughals the portuguese': 105,
 'the portuguese the': 177,
 'portuguese the british': 150,
 'the british the': 165,
 'british the french': 24,
 'the french the': 171,
 'french the dutch': 54,
 'the dutch all': 167,
 'dutch all of': 40,
 'all of them': 2,
 'of them came': 129,
 'them came and': 191,
 'came and looted': 27,
 'and looted us': 10,
 'looted us took': 103,
 'us took over': 213,
 'took over what': 205,
 'over what was': 146,
 'what was ours': 236,
 'yet we': 247,
 'we have': 227,
 'have not': 67,
 'not done': 114,
 'done this': 37,
 'this to': 196,
 'to any': 200,
 'any other': 15,
 'other nation': 135,
 'yet we have': 248,
 'we have not': 228,
 'have not done': 69,
 'not done this': 115,
 'done this to': 38,
 'this to any': 197,
 'to any other': 201,
 'any other nation': 16,
 'not conquered': 112,
 'conquered anyone': 32,
 'have not conquered': 68,
 'not conquered anyone': 113,
 'not grabbed': 118,
 'grabbed their': 61,
 'their land': 188,
 'land their': 96,
 'their culture': 184,
 'culture their': 35,
 'their history': 186,
 'history and': 73,
 'and tried': 13,
 'tried to': 206,
 'to enforce': 202,
 'enforce our': 41,
 'our way': 141,
 'way of': 223,
 'of life': 123,
 'life on': 100,
 'on them': 132,
 'have not grabbed': 70,
 'not grabbed their': 119,
 'grabbed their land': 62,
 'their land their': 189,
 'land their culture': 97,
 'their culture their': 185,
 'culture their history': 36,
 'their history and': 187,
 'history and tried': 74,
 'and tried to': 14,
 'tried to enforce': 207,
 'to enforce our': 203,
 'enforce our way': 42,
 'our way of': 142,
 'way of life': 224,
 'of life on': 124,
 'life on them': 101,
 'because we': 19,
 'we respect': 231,
 'respect the': 153,
 'the freedom': 168,
 'freedom of': 49,
 'of others': 125,
 'because we respect': 20,
 'we respect the': 232,
 'respect the freedom': 154,
 'the freedom of': 169,
 'freedom of others': 50,
 'that is': 160,
 'is why': 90,
 'why my': 239,
 'my first': 108,
 'first vision': 43,
 'vision is': 214,
 'is freedom': 87,
 'that is why': 161,
 'is why my': 91,
 'why my first': 240,
 'my first vision': 109,
 'first vision is': 44,
 'vision is freedom': 215,
 'believe that': 21,
 'that india': 158,
 'india got': 83,
 'got its': 59,
 'its first': 94,
 'vision of': 216,
 'of this': 130,
 'this in': 194,
 'in when': 79,
 'when we': 237,
 'we started': 233,
 'started the': 156,
 'the war': 180,
 'war of': 220,
 'of independence': 122,
 'believe that india': 22,
 'that india got': 159,
 'india got its': 84,
 'got its first': 60,
 'its first vision': 95,
 'first vision of': 45,
 'vision of this': 217,
 'of this in': 131,
 'this in when': 195,
 'in when we': 80,
 'when we started': 238,
 'we started the': 234,
 'started the war': 157,
 'the war of': 181,
 'war of independence': 221,
 'it is': 92,
 'is this': 88,
 'this freedom': 192,
 'freedom that': 51,
 'that we': 162,
 'we must': 229,
 'must protect': 106,
 'protect and': 151,
 'and nurture': 11,
 'nurture and': 120,
 'and build': 5,
 'build on': 25,
 'it is this': 93,
 'is this freedom': 89,
 'this freedom that': 193,
 'freedom that we': 52,
 'that we must': 163,
 'we must protect': 230,
 'must protect and': 107,
 'protect and nurture': 152,
 'and nurture and': 12,
 'nurture and build': 121,
 'and build on': 6,
 'if we': 77,
 'we are': 225,
 'are not': 17,
 'not free': 116,
 'free no': 47,
 'no one': 110,
 'one will': 133,
 'will respect': 241,
 'respect us': 155,
 'if we are': 78,
 'we are not': 226,
 'are not free': 18,
 'not free no': 117,
 'free no one': 48,
 'no one will': 111,
 'one will respect': 134,
 'will respect us': 242}

In [20]:
corpus[0]

'i have three visions for india '

In [21]:
X[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0])

In [22]:
## TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
cv= TfidfVectorizer()
X= cv.fit_transform(corpus).toarray()

In [23]:
corpus[0]

'i have three visions for india '

In [26]:
X[0]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.49165789,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.30830491, 0.        , 0.        ,
       0.        , 0.        , 0.42398776, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.49165789, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.49165789, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ])

In [27]:
## TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
cv= TfidfVectorizer(ngram_range=(2,3))
X= cv.fit_transform(corpus).toarray()

In [29]:
X[0]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.37796447, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.37796447, 0.37796447, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.37796447, 0.37796447,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.37796447, 0.37796447,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        ])

In [32]:
## TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
cv= TfidfVectorizer(ngram_range=(1,2), max_features=5)
X= cv.fit_transform(corpus).toarray()

In [33]:
X[0]

array([0., 1., 0., 0., 0.])